<div class="row">
  <div class="col-md-6">
    <h2>{{ i18NPrefix + 'title' | translate }}</h2>
  </div>
  <div class="col-md-6 text-md-right">
    <button type="button"
            class="btn btn-link"
            (click)="onClose()">
      <i class="fa fa-close"></i>
      {{ i18NPrefix + 'close' | translate }}
    </button>
  </div>
</div>

<app-cars-reactive-form (close)="onClose()"
                        (carCreate)="onCarCreate($event)"></app-cars-reactive-form>
